@mixin btn-base {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

@mixin btn-sm-modify {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

$color-main: #0075FF;

.btn-main {
    background-color: $color-main;
    @include btn-base();
    color: white;
    border: none;
    border: solid 1px $color-main;

    &:hover{
        background-color: white;
        color: $color-main;
        border: solid 1px $color-main;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @include btn-base();
    color: black;
    background-color: transparent;
    border: none;

    &:hover {
        color: #888;
    }

    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }

}

.main-menu {
    li {
        font-size: 0.75rem;
        list-style: none;
        display: inline;
    }
}

.icon-sm {
    font-size: 0.75rem;
    width: 4rem;
    height: 4rem;
    padding: 0.1rem 0.25rem;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000040;

    i {
        color: $color-main;
    }
}
